@model Test_Kiki.Models.Narudžba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Narudžba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proizvod_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proizvod_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Narudžba_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
